<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40129209046-umda5fo2vn32mkisohu03ok7qa4uk9uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40129209046-umda5fo2vn32mkisohu03ok7qa4uk9uc</string>
	<key>API_KEY</key>
	<string>AIzaSyCSn-1NKL7i9BWd-y0J99Jcmc0xO1Q7sdk</string>
	<key>GCM_SENDER_ID</key>
	<string>40129209046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adiamoyal.ChatterUpApp</string>
	<key>PROJECT_ID</key>
	<string>chatterup-14b20</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterup-14b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40129209046:ios:14f238bb1418fe2eb99f77</string>
</dict>
</plist>